@import "tailwindcss";
@plugin './hero.ts';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

.drag {
    --webkit-app-region: drag;
    app-region: drag;
}

.no-drag {
    --webkit-app-region: no-drag;
    app-region: no-drag;
}
